./00*/.ipynb_checkpoints/*
./01_DataStructures/.ipynb_checkpoints/*
./02*/.ipynb_checkpoints/*
./03_FileManipulation/.ipynb_checkpoints/*
./04_DataFrames/.ipynb_checkpoints/*
.ipynb_checkpoints/
hide_class_notes/*

.DS_Store
